.main-wrapper {
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
}

.checkboxes__wrapper {
  padding: 3rem 0 0;
  display: flex;
}

.dropdowns, .dropdowns_circle {
  margin: 0 auto;
  position: relative;
}

