.main {
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
}

.heading {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 0;
  position: relative;
}

.dropdowns, .buttons_big, .buttons_small, .dropdowns_circle {
  margin: 0 auto;
  position: relative;
}

.button-theme {
  position: relative;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #459DF5;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 0.25rem;
  width: 8rem;
  height: 1.5rem;
}

.button svg {
  fill: #459DF5;
  transition: all 1000ms cubic-bezier(0.075, 1.000, 0.250, 1.000);
}

.button:hover {
  color: #fff;
  background: #459DF5;
  border: 1px solid #459DF5;
  transition: all 1000ms cubic-bezier(0.075, 1.000, 0.250, 1.000);
}

.button:hover svg {
  fill: #fff;
  transition: all 1000ms cubic-bezier(0.075, 1.000, 0.250, 1.000);
}

.button-theme__theme-choice {
  background: #FFFFFF;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
  position: absolute;
  top: 107%;
  left: -15%;
  display: none;
}

.button-theme:hover .button-theme__theme-choice {
  display: block;
}

.button-theme:active .button-theme__theme-choice {
  display: block;
}

.button-theme__theme-choice:hover {
  display: block !important;
}

.button-theme__theme-choice span {
  display: block;
}

.button__theme_jc-center {
  width: 8rem;
  height: 1.5rem;
  justify-content: center;
}

.button__theme_jc-center svg {
  margin-right: calc(var(--index) * 0.17);
}

.theme-choice {
  background: #FFFFFF;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
  width: 10rem;
  height: 7rem;
}

.theme-choice a {
  margin-top: 0.5rem;
}

.delete-choice {
  background: #FFFFFF;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
  width: 10rem;
  height: 7rem;
  margin-top: 1rem;
}

.delete-choice a {
  margin-top: 0.5rem;
}

.page {
  background: #FFFFFF;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
  width: 10rem;
  height: 5.5rem;
  margin: 1rem 0;
}

.page__area {
  border: 1px solid #459DF5;
  width: 8rem;
  height: 2rem;
  display: block;
  text-align: left;
  margin-top: 0.5rem;
  border: 1px solid #459DF5;
  border-radius: 0.25rem;
  transition: all 1000ms cubic-bezier(0.075, 1.000, 0.250, 1.000);
  padding-left: 0.5rem;
} 

.page__area {
  border-color: #BAD8F5;
}

.page__area::-webkit-input-placeholder {
  color: #BAD8F5;
} 

.page__area::-webkit-input-placeholder:hover {
  color: #000;
} 

.page__area::-moz-placeholder {
  color: #BAD8F5;
}

.page__area::-webkit-input-placeholder:hover {
  color: #000;
} 

.page__area:focus-visible {
  outline: none;
  border: 1px solid #b12727;
  border-radius: 0.25rem;
  transition: all 1000ms cubic-bezier(0.075, 1.000, 0.250, 1.000);
}


.type {
  margin: 2rem 0rem;
  padding: 1rem 0 1rem 1rem;
  width: 10rem;
  height: 13rem;
  background: #FFFFFF;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.type span {
  display: block;
}

.type label input {
  appearance: none;
  display: block;
  width: 1rem;
  height: 1rem;
  border: 1px solid #BAD8F5;
  background-color: #fff;
  border-radius: 0.125rem;
  margin-right: 0.5rem;
  transition: all 1000ms cubic-bezier(0.075, 1.000, 0.250, 1.000);
}

.type label input:checked {
  background-color: #459DF5;
  border: 1px solid #459DF5;
  transition: all 1000ms cubic-bezier(0.075, 1.000, 0.250, 1.000);
}

.type label {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}

.type label:last-child {
  margin-bottom: 0;
}

.type label svg {
  position: absolute;
}

.type label span {
  font-size: 0.82rem;
}

.button_long, .button_medium, .button_short {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1000ms cubic-bezier(0.075, 1.000, 0.250, 1.000);
}

.button_long svg, .button_medium svg, .button_short svg {
  fill: #459DF5;
  transition: all 1000ms cubic-bezier(0.075, 1.000, 0.250, 1.000);
}

.button_long {
  width: 7rem;
  height: 2rem;
  border-radius: 0.25rem;
  color: #459DF5;
}

.button_long svg {
  margin-right: 0.5rem;
}

.button_medium {
  width: 5.5rem;
  height: 2rem;
  color: #459DF5;
  border-radius: 0.25rem;
}

.button_short {
  width: 2rem;
  height: 2rem;
  border-radius: 0.25rem;
}

.buttons_small .button_long {
  width: 5.75rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  color: #459DF5;
}

.buttons_small .button_long svg {
  margin-right: 0.5rem;
}

.buttons_small .button_medium {
  width: 4.5rem;
  height: 1.5rem;
  color: #459DF5;
  border-radius: 0.25rem;
}

.buttons_small .button_short {
  width: 1.5rem;
  height: 1.5rem;
}

.button_long:hover, .button_medium:hover, .button_short:hover {
  border: 1px solid #459DF5;
  background: #459DF5;
  color: #fff;
  transition: all 1000ms cubic-bezier(0.075, 1.000, 0.250, 1.000);
}

.button_long:hover svg, .button_medium:hover svg, .button_short:hover svg {
  fill: #fff;
  transition: all 1000ms cubic-bezier(0.075, 1.000, 0.250, 1.000);
}

.dropdowns_circle .type label input {
  appearance: none;
  display: block;
  width: 1rem;
  height: 1rem;
  border: 1px solid #BAD8F5;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 0.5rem;
  transition: all 1000ms cubic-bezier(0.075, 1.000, 0.250, 1.000);
}

.dropdowns_circle .type label input:checked {
  background-color: #fff;
  border: 4px solid #459DF5;
  transition: all 0.1s ease;
}

.searchbar {
  position: relative;
  width: 16rem;
  height: 2rem;
}

.searchbar input {
  display: block;
  width: 16rem;
  height: 2rem;
  border: 1px solid #459DF5;
  background-color: #fff;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  transition: all 1000ms cubic-bezier(0.075, 1.000, 0.250, 1.000);
  text-align: left;
  padding-left: 2rem;
}

.searchbar input::-webkit-input-placeholder {
  color: #BAD8F5;
} 

.searchbar input::-webkit-input-placeholder:hover {
  color: #000;
} 

.searchbar input::-moz-placeholder {
  color: #BAD8F5;
}

.searchbar input::-webkit-input-placeholder:hover {
  color: #000;
} 

.searchbar input:focus-visible {
  outline: none;
  border: 1px solid #b12727;
  border-radius: 0.25rem;
  transition: all 1000ms cubic-bezier(0.075, 1.000, 0.250, 1.000);
}

.searchbar::before {
  content: url(../images/svg/searching.svg);
  position: absolute;
  left: 4%;
  top: 23%;
  cursor: pointer;
}

.searchbar::after {
  content: url(../images/svg/x-medium.svg);
  position: absolute;
  left: 90%;
  top: 23%;
  cursor: pointer;
}

.input__parameters {
  text-align: center;
  width: 16rem;
  height: 4rem;
  margin: 1rem 0;
  position: relative;
}

.input__info {
  text-align: left;
  display: block;
}

.input__info:disabled {
  border-color: #BAD8F5;
}

.input__area {
  border: 1px solid #459DF5;
  width: 16rem;
  height: 2rem;
  display: block;
  text-align: left;
  padding-left: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #459DF5;
  border-radius: 0.25rem;
  transition: all 1000ms cubic-bezier(0.075, 1.000, 0.250, 1.000);
} 

.input__area:disabled {
  border-color: #BAD8F5;
}

.input__area::-webkit-input-placeholder {
  color: #BAD8F5;
} 

.input__area::-webkit-input-placeholder:hover {
  color: #000;
} 

.input__area::-moz-placeholder {
  color: #BAD8F5;
}

.input__area::-webkit-input-placeholder:hover {
  color: #000;
} 

.input__area:focus-visible {
  outline: none;
  border: 1px solid #b12727;
  border-radius: 0.25rem;
  transition: all 1000ms cubic-bezier(0.075, 1.000, 0.250, 1.000);
}

.input__area:visited {
  background: #459DF5;
}

.input__parameters::after {
  content: url(../images/svg/x-medium.svg);
  position: absolute;
  left: 90%;
  top: 49%;
  cursor: pointer;
}

.input__parameters_locked::after {
    content: url(../images/svg/locked.svg);
    position: absolute;
    left: 90%;
    top: 49%;
    cursor: pointer;
}

.button_black {
  color: #000;
}

.button_black:hover {
  background: #000;
  color: #fff;
  border-color: transparent;
}

.button_black svg {
  fill: #000;
  transition: all 1000ms cubic-bezier(0.075, 1.000, 0.250, 1.000);
}
